
body {
  background-color: #050C12;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #BADEEF;
}
/*050C12*/
.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #f1f1f1;
}

.split {
  display: flex;
  height: 100vh;
}

.right {
  flex: 1;
  width: 50vw;
  margin-left: 50vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 120px;
  margin-right: 0px;
}

.left {
  width: 50vw;
  flex: 1;
  position: fixed;
  display: flex;

  flex-direction: column;
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.navElement{
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 134px;
  font-size: 18px;
  width: 165px;
}

.navElement:hover {
  font-weight: 700;
  color: #BADEEF;
}

.navElement:hover::before {
  width: 60px;
  border-bottom: 2px solid #BADEEF;
}

.navElement.active {
  display: flex;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  margin-left: 134px;
  font-size: 18px;
  width: 165px;
  color: #BADEEF;
}

.navElement.active::before {
  width: 60px;
  content: '';
  border-bottom: 2px solid #BADEEF;
  margin: 0 10px 0 0;
  transition: width 0.15s ease;
}


/*flex: 0.05;*/
.navElement::before {
  width: 30px;
  content: '';
  border-bottom: 1px solid #BADEEF;
  margin: 0 10px 0 0;
  transition: width 0.15s ease;
}

.name {
  font-weight: bold;
  font-size: 45px !important;
  margin: 100px 0 15px 122px; /* Horizontally centers the element */
}

.field {
  margin: 0 0 15px 132px; /* Horizontally centers the element */
  font-size: 25px;
  color: #BADEEF;
}


.phone {
  margin: 0 0 16px 133px; /* Horizontally centers the element */
  font-size: 18px;
}

.email {
  margin: 0 0 18px 133px; /* Horizontally centers the element */
}

.links {
  margin: 0 0 90px 134px; 
  font-size: 12px;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 25px;
  color: #BADEEF;
}

.contentHeader::before,
.contentHeader::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #BADEEF;
  margin: 0 10px 0 10px;
}

.about {
  margin-top: 100px;
}

.download {
  font-size: 25px;
  width: 275px;
  margin: 120px 0 0 127px;
  border-radius: 20px;
  padding: 5px 5px;
  color:#5ACAF9;
  background-color:rgba(2, 62, 119, 0.6);
  border: transparent;
  transition: transform 0.2s ease,
}

.download:hover {
  background-color: #0983C8;
  cursor: pointer;
  transform: scale(1.05);
}

.dateSchool {
  display: flex;
  align-items: center;
  gap: 28px;
  margin: 0 0 0 20px;
}

.univeristy {
  margin: 0 0 0 187px;
  font-size: 17px;
}

.city {
  margin: 0 0 0 188px;
  font-size: 15px;
}

.eduLists {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0 20px 0 175px;
  font-size: 15px;
}

.eduListTitles {
  display: flex;
  justify-content: center;
  gap: 127px;
  margin: 0 0 0 86px;
  font-size: 17px;
}

.projButton {
  width: 97%;
  text-align: left;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}


.projButton:hover {
  background-color: #161E29;
}

.projButton:hover .projName {
  color:#5ACAF9;
}

.projList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;

}

.projPic {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin: 10px 0 0 5px;
  border: 3px solid #0983C8;
  border-radius: 25px;
}

.projButton:hover .projPic {
  border: 3px solid #0983C8;
}

.projButtonLayout {
  display: flex;
  gap: 30px;
}

.projInfo {
  display: flex;
  flex-direction: column;
}

.projName {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projDesc {
  margin: 0px 15px 0 0;
  font-size: 14px;
}

.techList {
  display: flex;
  gap: 10px;
}

.tag {
  padding:  5px 10px;
  border-radius: 15px;
  color: #5ACAF9;
  background-color: rgba(2, 62, 119, 0.6);
  font-size: 14px;
}

.bio {
  font-size: 15px;
  margin: 10px 20px;
}

.degree {
  font-size: 18px;
}

.date {
  font-size: 14px;
}

.nameIcon {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.icon {
  color:#BADEEF;
  font-size: 25px !important;
  vertical-align: bottom;
  margin-bottom: 10px;
  transition: font-size 0.2s ease, color 0.2s ease;
}

.projButton:hover .icon {
  color:#5ACAF9;
  font-size: 30px !important;
}

.linkIcons {
  display: flex;
  gap: 10px;
  margin: 0 0 90px 134px;
  color:#BADEEF;
}

.linkIcon {
  font-size: 30px !important;
  transition: transform 0.2s ease;
}

.linkIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #0983C8;
}

