.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.split {
  display: flex;
  height: 100vh;
}

.right {
  flex: 1;
  width: 50vw;
  margin-left: 50vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 120px;
  margin-right: 0px;
}

.left {
  width: 50vw;
  flex: 1;
  position: fixed;
  display: flex;

  flex-direction: column;
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.navElement{
  display: flex;
  color: black;
  text-decoration: none;
  align-items: center;
  margin-left: 134px;
  font-size: 18px;
}

.navElement:hover::before,
.navElement:hover::after {
  flex: 0.1;
}

.navElement .active {
  color:blueviolet;
}


.navElement::before {
  flex: 0.05;
  content: '';
  border-bottom: 2px solid black;
  margin: 0 10px 0 0;
  transition: flex 0.15s ease;
}


.name {
  font-weight: bold;
  font-size: 50px;
  margin: 100px 0 15px 122px; /* Horizontally centers the element */
}

.field {
  margin: 0 0 15px 132px; /* Horizontally centers the element */
  font-size: 25px;
}


.phone {
  margin: 0 0 16px 133px; /* Horizontally centers the element */
  font-size: 18px;
}

.email {
  margin: 0 0 18px 133px; /* Horizontally centers the element */
}

.links {
  margin: 0 0 90px 134px; 
  font-size: 12px;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 25px;
}

.contentHeader::before,
.contentHeader::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid black;
  margin: 0 10px 0 10px;
}

.about {
  margin-top: 100px;
}

.download {
  font-size: 25px;
  width: 270px;
  margin: 120px 0 0 127px;
}

.dateSchool {
  display: flex;
  align-items: center;
  gap: 28px;
  margin: 0 0 0 20px;
}

.univeristy {
  margin: 0 0 0 196px;
  font-size: 18px;
}

.city {
  margin: 0 0 0 197px;
  font-size: 15px;
}

.eduLists {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0 20px 0 150px;
}

.eduListTitles {
  display: flex;
  justify-content: center;
  gap: 137px;
  margin: 0 0 0 44px;
  font-size: 16px;
}

.projButton {
  width: 97%;
  text-align: left;
}


.projList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;

}

.projPic {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 10px 0 0 5px;
  border: 2px solid black;
  border-radius: 25px;
}

.projButtonLayout {
  display: flex;
  gap: 30px;
}


.projInfo {
  display: flex;
  flex-direction: column;
}

.projName {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projDesc {
  margin: 0px 15px 0 0;
  font-size: 15px;
}

.techList {
  display: flex;
  gap: 10px;
}

.tag {
  border: 1px solid black;
  padding:  5px 10px;
  border-radius: 15px;
}

.bio {
  font-size: 16px;
  margin: 10px 20px;
}

.degree {
  font-size: 20px;
}

.date {
  font-size: 15px;
}